.App {
  text-align: center;
}

.App-section {
  background-color: #262A41;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-section > section {
  width: 48%;
  height: 90vh;
  box-sizing: border-box;
  overflow: hidden;
}
